{% include 'header1.html' %}

    <title>NEH | HOME</title>
    <link rel="stylesheet" href="static/css/hm.css">
    {% include 'header2.html' %}
  
    {% include 'navbar.html' %}


    <!-- carousal -->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"> -->
    <!-- <img class="d-block w-50" src="static/image/car2.jpeg" alt="First slide"> -->
    <!-- </div>
            <div class="carousel-item"> -->
    <!-- <img class="d-block w-50" src="static/image/car1.png" alt="Second slide"> -->
    <!-- </div>
        </div>
    </div> -->
    <div class="image-container">
        <img class="d-block w-50" src="static/image/car2.jpeg" alt="First slide">
        <img class="d-block w-50" src="static/image/car1.png" alt="Second slide">
    </div>

    <hr>
    <div class="zero_rs">
        <h1 class="deal">Zero Rupees HOT Deals 🔥</h1>

        <div class="container">
            {% set count = 0 %}
            {% for pic,array in prod.items() %}
            {% if array[2] == 0 and count < 8 %} {% set count=count + 1 %} <div class="card"
                style="border-radius: 20px; background-color: #f1f1f1;">

                {% include 'card.html' %}
        </div>
        {% endif %}
        {% endfor %}


    </div>
    </div>
    <hr>
    <h1 class="deal"> Products for sale :)</h1>
    <hr>
    <!-- deals -->
    <br>

    <div class="container">
        {% for pic,array in prod.items() %}
        {% if array[2] > 0 %}
        <div class="card" style="border-radius: 20px; background-color: #f1f1f1;">

            {% include 'card.html' %}
        </div>

        {% endif %}
        {% endfor %}

    </div>
</body>
<footer>
    <footer class="text-center text-lg-start bg-light text-muted ">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between  ">
            <!-- Left -->
            <div class="  d-none d-lg-block">
                <span style="line-height: 35px;">Get connected with us on social networks:</span>

                <div class="template-demo">
                    <button type="button" style="color: blue;" class="btn btn-social-icon btn-outline-facebook"><i
                            class="fa fa-facebook"></i></button>
                    <button type="button" style="color: deepskyblue;" class="btn btn-social-icon btn-outline-twitter"><i
                            class="fa fa-twitter"></i></button>
                    <button type="button" style="color: rgb(0, 0, 105);"
                        class="btn btn-social-icon btn-outline-linkedin"><i class="fa fa-linkedin"></i></button>
                    <button type="button" style="color: rgb(255, 0, 179);"
                        class="btn btn-social-icon btn-outline-instagram"><i class="fa fa-instagram"></i></button>
                </div>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        {% include 'footer.html' %}
    </footer>



</html>