* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Overpass', sans-serif; */
}

body{
    background-color: #f1f1f1 !important;   
}
#navbarSupportedContent {
  font-size: 23px;
}

#dropdown {
  font-size: 20px;
}

.nav {
  margin: 0px 20px;
}

.carousel-inner {
  height: 45vh;
}

.form-inline {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 30px;
}

.template-demo {
  float: right;
  margin-left: 10px;
}


.deals {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: rgba(38, 113, 212, 0.87);
}

footer {
  margin-top: 30px;
}

.deal {
  color: rgb(2, 2, 46);
  text-align: center;
  font-size: 60px;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
  background-color: rgba(212, 236, 255, 0.692);
}

.card {
  border-radius: 20px !important;
  background-color: #fff !important;
  margin-bottom: 20px;
   
}


.card-body {
  color: rgb(2, 2, 46);
  background-color: rgb(243, 247, 252); 
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 2px 6px rgba(47, 65, 226);
}

.card-img-top{
  border-radius: 20px 20px 0 0!important;
}
.card-title {
  font-weight: bolder;
}

.card-text {
  font-weight:400;

  color: rgb(0, 47, 255);
}

.container{
    display: grid; 
    grid-template-columns:repeat(4,minmax(auto,1fr)); 
    grid-template-rows:repeat(auto,minmax(100px,1fr));
    grid-gap:50px;
}
@media (min-width: 0px) and (max-width: 450px)
{
  .container{
    
    grid-template-columns:repeat(1,minmax(auto,1fr));
  }
  .deal{
    font-size: 15px;
  }
}
@media (min-width: 450px) and (max-width: 767px){
  .container {
    grid-template-columns:repeat(2,minmax(auto,1fr));
  }
  .form-inline {
    margin-left: 400px;
  }
  .deal{
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
  }
}



@media (min-width: 767px) and (max-width: 1000px)
{
  .container{    
    grid-template-columns:repeat(3,minmax(auto,1fr));
  }
  .deal{
    
  text-shadow: 1px 1px 1px black;
    font-size: 35px;
  }
}


.zoom {
  transition: transform .5s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.image-container {
  display: flex; /* Use flexbox to align items horizontally */
}

.image-container img {
  flex: 1; /* Make the images take up equal space */
}

a{
  color: black !important;
}
.bar{
  margin-bottom: 50px !important;
}