{% include 'header1.html' %}
<title>NEH | PRODUCT ACCOUNT</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/account.css')}}">
{% include 'header2.html' %}


{% include 'navbar.html' %}
<main class="container1">
    <section class="left">
        <div class="profile-card">
            <img src="{{url_for('static', filename = 'image/profile.svg')}}" alt="" class="profile-img">
            <div class="card-name">
                <p class="hello">Hello</p>
                <p class="name">{{post.username}}</p>
            </div>
        </div>
        <div class="sidebar">
            <a href="{{url_for('list')}}" class="personal-info side-opt" id="ph">
                <li> YOUR LISTED PRODUCT</li>
            </a>
            <a href="{{url_for('upload')}}" class="personal-info side-opt" id="ph">
                <li>ADD PRODUCT &nbsp;</li>
            </a>

        </div>
        <div class="log-out">

            <a href="{{url_for('logout')}}" style="text-align: center; text-decoration: none; "><button class="logOut"
                    style="font-size: 18px; background-color: red; color: white;">Logout</button></a>

        </div>
    </section>
    <section class="right">
        <p class="heading">Personal Information</p>

        <div class="details">
            <div class="info">
                <div class="person-name info-box">
                    <p class="label">Name</p>
                    <p>{{post.username}}</p>
                    <!-- <input type="text" class="personName field" value="" disabled> -->
                </div>
                <div class="Email info-box">
                    <p class="label">Email</p>
                    <p>{{post.webmail}}</p>
                    <!-- <input type="email" class="email-id field" value="" name="email" disabled> -->
                </div>
                <div class="mobile info-box">
                    <p class="label">Mobile</p>
                    <p>{{post.mobile}}</p>
                    <!-- <input type="number" class="mobile-no field" value="{{post.mobile}}" name="number" disabled> -->
                </div>
                <div class="address info-box">
                    <p class="label">Address</p>
                    <p>{{post.address}}</p>
                    <!-- <input type="text" class="address-text field" value="{{post.address}}" name="address" disabled> -->
                </div>
            </div>
            <div class="profile-picture">
                <img src="{{url_for('static', filename = 'image/profile.svg')}}" alt="" class="profile-pic">
                <!-- <button class="update" type="submit">Save Changes</button> -->

            </div>
        </div>
    </section>


    <!-- <section class="right1">
                <a href="{{url_for('upload')}}"><li>ADD PRODUCT &nbsp;<img height="50px" width="50px" src="static/image/cart.jpg" alt=""></li></a><hr>
            
            </section> -->

</main>


</body>


</html>
