{% include 'header1.html' %}

<title>NEH | FEEDBACK</title>
{% include 'header2.html' %}

<link rel="stylesheet" href="static/css/feedback.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% include 'navbar.html' %}
<form action="{{ url_for('submit_feedback') }}" method="POST">


    <div class="container">

        <div class="box">
            <h1>RATE</h1>
            <h1>YOUR EXPERIENCE</h1>
            <div class="star">
                <input type="radio" name="rate" id="rate-5" value="5">
                <label for="rate-5" class="fas fa-star"></label>

                <input type="radio" name="rate" id="rate-4" value="4">
                <label for="rate-4" class="fas fa-star"></label>

                <input type="radio" name="rate" id="rate-3" value="3">
                <label for="rate-3" class="fas fa-star"></label>

                <input type="radio" name="rate" id="rate-2" value="2">
                <label for="rate-2" class="fas fa-star"></label>

                <input type="radio" name="rate" id="rate-1" value="1">
                <label for="rate-1" class="fas fa-star"></label>
            </div>
            <br>
            <p>Your Feedback :-</p>
            <textarea name="comments" id="feed" cols="30" rows="10" placeholder="Type here..."></textarea>
            <div class="submit">
                <input onclick="thanks()" id="feed_submission" type="submit" name="feed_submit" value="Submit">

            </div>
        </div>
    </div>
</form>
<script>
    function thanks() {
        window.alert("Thank you for your Feedback.");
    }
</script>
</body>

{% include 'footer.html' %}

</html>